@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-accent;
}

.card-text-bg {
  background: linear-gradient(0deg, rgb(34 56 67 / 87%) 0%, rgba(255,255,255,0) 70%);
}

.form-wrapper {
  @apply flex justify-center flex-col sticky top-3 min-w-[250px] gap-2
}

.form-label {
  @apply text-biege
}

.input-text,
select {
  @apply bg-transparent border-biege border-2 rounded-md text-accent;
}

.list-wrapper {
  @apply flex gap-3 flex-wrap justify-center overflow-y-auto max-h-[90vh];
}

.list-link {
  @apply p-3 text-white break-words border-biege border-2 rounded-2xl backdrop-brightness-75 hover:backdrop-brightness-50 cursor-pointer flex justify-center w-full flex-col
}